.App {
  display: flex;
  align-items: center;
  flex-direction: column;
}

body {
  margin: 0;
  font-family: Rethink_Sans, -apple-system, BlinkMacSystemFont, sans-serif, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}